<div class="center-block" id="header">
  <h1>Flight Path</h1>
  <h3>Where are you going?</h3>

  <%= button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), method: "get", class: "btn btn-primary" %>
  
</div>


<%= image_tag("landing.png", class: "landing") %>