// .header {
// 	position: absolute;
// 	width: 100%;
// 	top: 0px;
// 	padding: 10px 0px 10px 0px;
// 	background: rgba(0,0,0,0.15);
// 	z-index: 1000;
// }

#header {
	position: absolute;
	width: 100%;
	top: 3;
	padding: 10px 0px 10px 0px;
	// background: rgba(0, 0, 0, 0.15);
	z-index: 1000;
	text-align: center;
	font-weight: 600;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

	h1 {
		font-size: 5em;
		// background: rgba(101, 88, 147, 0.3)
	}
}

.landing {
	position: fixed;
	top: 0;
	bottom: 0;
}